// FONTS
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Raleway:wght@200;300;400;500;700;800&display=swap");

/* Global Styles */

@import './styles/variables';
@import './styles/mixins';
@import './styles/reset';
@import './styles/shared';

/* Containers */

@import './containers/Header/';

/* Components */

@import './components/LinkButton/';
@import './components/CartWidget/';
@import './components/Pill/';
@import './components/Item/';
@import './components/ItemList/';